#navegacion {
    margin-left: auto;
}

#botonC {
    width: 100%;
    background-color: #212529;
    border-color: greenyellow;
    font-size: 120%;
}

#menu {
    font-size: 20px;
}

#empresa {
    text-shadow: 2px 2px 5px greenyellow;
    color: #FDFEFE;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

#groupBotones {
    background-color: #212529;
    border-color: greenyellow;
    font-size: 200%;
    height: 100%;
}

#pie {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    color: white;
    background-color: #212529;
}

#titlepie1 {
    font-size: 130%;
}

#contactanos {
    font-size: 90%;
}

#iconos {
    color: #F2F3F4;
    margin-left: 3px;
    margin-right: 3px;
}

#titleEmpresa {
    font-family: 'Courier New', Courier, monospace;
    color: #F2F3F4;
}

#body {

    background-image: url(https://images.alphacoders.com/789/789452.jpg);
    color: #FFFFFF;
}