<div class="row">
    <div class="col-md-12" id="pie">
        <br>
        <h1 id="titlepie1">Desarrollado por:</h1>
        <p id="contactanos">
            Daniel Camilo Piñeros Esguerra
            <br>
            Celular: 3118282951
            <br>
            daniel.pineros01@uptc.edu.co
        </p>
        <hr>
        <p id="redes">
            <a title="Facebook" href="https://www.facebook.com/profile.php?id=100063777233839"><i id="iconos"
                    class="fab fa-facebook-square fa-3x"></i></a>
            <a title="GitHub" href="https://github.com/ronaldashi"><i id="iconos"
                    class="fab fa-github-square fa-3x"></i></a>
        </p>
    </div>
</div>