<nav class="navbar navbar-dark navbar-expand-lg bg-dark py-5 py-lg-3 px-5">
    <div class="container-fluid" id="menu">
        <a id="empresa" class="navbar-brand" href="/"><i class="fas fa-gamepad"></i>ZONA GAMER</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse me-5 justify-content-center" id="navbarNav">
            <ul class="navbar-nav" id="navegacion">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/"><i class="fas fa-home"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/consult"><i class="fas fa-search"></i> Consultar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact"><i class="fas fa-map-marker-alt"></i> Contactanos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>